@import '../../globals/variables';

.content-section {
  padding: 64px 120px;
  background-color: $bg-color;

  &_type_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    gap: 20px;
  }
  &_bg_white {
    background-color: #fff;
  }
}

