extends ../layouts/default

block variables
  - var title = "Главная страница";
  - var pageStylesheet = "/index.css";

block content
  section.content-section.content-section_bg_white
    block section-content

  section.content-section.content-section_type_grid
    block section-content
      include ../components/card/card.pug
      +card('card1', './images/pea.jpeg', 'Горох в стручках, 1 кг', '570 ₽')
      +card('h-l1', './images/blueberry.jpeg', 'Голубика лесная, 200 г', '140 ₽')
      +card('h-l2', './images/carrot.jpeg', 'Морковь мытая, 1 кг', '140 ₽')
      +card('v-l1', './images/popcorn.png', 'Попкорн солёный, для СВЧ-печи, 120 г', '160 ₽')
      +card('v-l2', './images/ice_cream.png', 'Эскимо с малиной, 150 г', '190 ₽')

